html,body,#app {
    height:100%;
    margin:0;
    padding:0;
}
/* 给左侧权限管理设置样式 */
.el-submenu__title,
.el-menu-item {
    font-size:13px;
}
i.iconfont {
    margin-right: 10px;
}
/* 给卡片区域设置统一样式 */
.box-card {
    margin-top: 15px;
    box-shadow:0 1px 1px rgba(0,0,0,0.15)
}
/* 设置表格样式 */
.el-table {
    margin-top:15px;
    font-size:12px;
}
/* 给分页设置统一样式 */
.el-pagination {
    margin-top: 15px;
    font-size:12px;
}
/* 给步骤条steps设置样式 */
.el-step_title {
    font-size: 12px;
}
.el-tabs--left .el-tabs__item.is-left {
    margin-bottom: 50px;
}
/* 给富文本框设置高度 */
.ql-editor {
    height: 300px;
}